// app global css in SCSS form
@import 'src/css/quasar.variables.scss';

@font-face {
  font-family: sigmar;
  src: url(./fonts/SigmarOne-Regular.woff);
}

.podcastor-title {
  font-family: sigmar, serif;
  font-size: 5em;
  color: $accent;
  text-shadow: -4px 4px $secondary;
}

.podcastor-label {
  font-family: sigmar, serif;
  font-size: 1.5em;
  color: $btn-color;
  text-shadow: -2px 2px $btn-text-color;
}

.podcastor-btn {
  color: $btn-text-color;
  min-width: 15%;
  background-color: $btn-color;
  box-shadow: 0 2px 2px 1px $btn-text-color;
}

@media only screen and (max-width: 600px) {
  .podcastor-title {
    font-size: 4em;
  }
}
