// app global css in SCSS form
@import 'src/css/quasar.variables.scss';

.podcastor-title {
  font-family: "Arial Black", serif;
  font-size: 5em;
  color: $accent;
  text-shadow: -4px 4px $secondary;
}

.podcastor-label {
  font-family: "Franklin Gothic Medium", serif;
  font-size: 1.5em;
  color: $btn-color;
  text-shadow: -2px 2px $btn-text-color;
}

.podcastor-btn {
  font-family: "Franklin Gothic Medium", serif;
  color: $btn-text-color;
  min-width: 15%;
  background-color: $btn-color;
  box-shadow: 0 2px 2px 1px $btn-text-color;
}
