// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0a998b;
$secondary: #1a082e;
$accent: #f90064;

$dark: #1D1D1D;

$positive: #21BA45;
$negative: #eb92a2;
$info: #31CCEC;
$warning: #F2C037;

// Podcastor colors
$btn-color: #67edac;
$btn-text-color: #5f1b9f;
$list-item-bg: #00000033;
$gradient-home-top: #f90064;
$gradient-top: #0a998b;
$gradient-bottom: #1a082e;
